.image-container{
    width: 70%;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.image-container img{
   width: 200px;
   height: 200px;
   margin-bottom: 20px;
}


.image-container img:hover{
    object-fit: cover;
    width: 800px;
    height: 500px;
}